.merch {
  text-align: center;
  color: white;
  padding: 50px 20px;
font-family: 'Minecraft', sans-serif;

  background: linear-gradient(135deg, #3b275f, #1e1e1e);
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;



.merch h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.merch p {
  font-size: 18px;
  margin: 10px 0;
}
}

